html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- */

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body {
  
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
  background-color: #3a3a3a;
  color: white;
  margin: 15px;
  font-weight: bold;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}

.boton-jugada {
  font-family: "Pixelify Sans", sans-serif;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin: 30px;
  height: 70px;
  width: 200px;
  margin: 50px;
  font-weight: bold;
}

.boton-jugada:hover{
  transform: scale(1.5);
  transition: .3s linear;
}

.boton-jugada:nth-child(1){
  background-color:rgb(53, 31, 5);

}

.boton-jugada:nth-child(2){
  background-color: rgb(4, 87, 4);
}

.boton-jugada:nth-child(3){
  background-color: fuchsia;
}


#resultados {
  font-size: 20px;
  margin: 20px 0;
  font-size: 28px;
}

.textos{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.puntuaciones{
  max-width: 100%;
  max-height: 100%;
  border: black 1cap inset;
  border-radius: 15px;
}

.imagenFondo {
  width: 100%;
  height: 100%;
  background-image: url(../img/rock-paper-scissors-hand-icons.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.puntuaciones p{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: rgba(172, 255, 47, 0.295);
  width: 200px;
  height: 70px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.puntuaciones p:nth-child(1){
  border-radius: 5px 5px 0 0;
}

.puntuaciones p:nth-child(2){
  border-radius: 0 0 5px 5px;
}